.container{
    &-veinticuatro{
        margin: 5% 0;
    }

    &-especialidades{
        margin-top: 5%;
    }

    &-servicios{
        padding: 5px;
        margin:5%;
    }
}
.servicios-veterinaria-icono{
    width: 20%;
}
.servicios-img{
    width: 50px;
    margin: 15%;
}