.sucursales-img{
    width: 100%;
    height: 220px;
}
.container-sucursales{
    width: 3%;
    height: 35px;
}

@media (max-width:992px){
    .servicios-img{
        width: 100%;
        margin: 20% 0;
    }
}