.titulo-principal{
    padding-top: 15%;
    justify-content: center;
    align-items: center;
    text-align:left;
}
.billboard-img{
    width: 100%;
    padding: 5% 0;
}
.margin-section{
    margin: 5% auto;
}